<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true">

    <testsuites>
        <testsuite name="AppTests">
            <directory>tests</directory>

            <!-- EXCLUDE file DatabaseTest.php -->
            <exclude>tests/DatabaseTest.php</exclude>

        </testsuite>
    </testsuites>

    <php>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_NAME" value="db_login1"/>
        <env name="DB_USER" value="root"/>
        <env name="DB_PASS" value=""/>
    </php>

</phpunit>
